<h1>Eat Da Burger!</h1>

<h2>Burgers that are available!</h2>

<ul>
  {{#each burgers_name}}
    {{#unless this.devoured}}
      <li>{{this.burgers_name }}
       <button value={{this.id}} class="eatburger">Devour {{this.burgers_name}}</button>
       </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers_name}}
    {{#if this.devoured}}
      <li>{{this.burgers_name}}</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
{{!-- <form class="create-form"> --}}

  <div class="form-group">
      <label for="newburger">Burger Name:</label>
      <input type="text" id="newBurger">
      <button type="submit" class="create">Add A Burger</button>
  </div>

