<p>Hello</p>

<h1>Eat Da Burger!</h1>

<h2>Burgers that are available!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      {{!-- {{> burgers/burgers_names-block devoured=true}} --}}
      <ul> 
       {{this.burger_name }}
       <button value={{this.id}} class="eatburger">Devour</button>
      </ul>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      {{!-- {{> burgers/burgers_names-block devoured=false}} --}}
      {{this.burger_name}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="newburger">Burger Name:</label>
    <input type="text" id="newburger" name="name">
  </div>

  <button type="submit">Add A Burger</button>
</form>